//- main.pug

//- Default navbar, contains all includes / links
include ../partials/navbar.pug
doctype html

head
	title Main Page

	style.
		.SearchBar {
		position: absolute;
		top: 0px;
		left: 35px;
		height: 30px;
		width: 50px;
		}
		.SearchBar input {
		height: 30px;
		width: 500px;
		}

br
br
br
.row
	// Left side of the page
	#col0.col-2
		.container
			.card.bg-light.text-dark
				.card-body
					h5="Filters"
					ul.list-group
						li.list-group-item
							p
								strong Tags
							form
								.form-check
									input.form-check-input(type='checkbox' id='form_tag_c' name='form_tag_c')
									label.form-check-label(for='defaultCheck1')
										| C#
								.form-check
									input.form-check-input(type='checkbox' id='form_tag_js' name='form_tag_js')
									label.form-check-label(for='defaultCheck2')
										| JavaScript
								.form-check
									input.form-check-input(type='checkbox' id='form_tag_latex' name='form_tag_latex')
									label.form-check-label(for='defaultCheck2')
										| LaTeX

						li.list-group-item
							p
								strong Difficulty
							.startDate
								.row
									.col-sm
										.form-group
											input(type="range" value="0" min="0" max="5" step="1" class="form-control-range" name="form_difficulty" id="form_difficulty")
											label(for="form_difficulty" class="pull-left")="Any"
											label(for="form_difficulty" class="pull-right")="5"




	// Right column, holds the job listings
	#col1.col

		.SearchBar
		form(action="/main/search" method="post" id="form_search")

			// Quick workaround to pass data from outside the form
			input(name='form_tag_0' id="form_tag_0" required='' value="0" style="display:none")
			input(name='form_tag_1' id="form_tag_1" required='' value="0" style="display:none")
			input(name='form_tag_2' id="form_tag_2" required='' value="0" style="display:none")
			input(name='form_diff' id="form_diff" required='' value="0" style="display:none")

			div.row
				div.col
					input.form-control.mr-sm-2(type='text' name="form_job_name" placeholder='Job name...' required='')
				div.col
					button.btn.btn-dark(onclick="submitSearch()")="Search"

		script.
			function submitSearch()
			{
				console.log(document.getElementById("form_tag_c").checked);
				document.getElementById("form_tag_0").value = document.getElementById("form_tag_c").checked;
				document.getElementById("form_tag_1").value = document.getElementById("form_tag_js").checked;
				document.getElementById("form_tag_2").value = document.getElementById("form_tag_latex").checked;
				document.getElementById("form_diff").value = document.getElementById("form_difficulty").value;
				document.getElementById("form_search").submit();
			}

		// Flex box to hold the job listings
		#jobsBox.d-flex.flex-column.bd-highlight.mb-3
			br
			if (mode == 0)
				for job in jobs
					div(class="p-2 bd-highlight")
						form(action="/main/view" method="get")
							button.btn.btn-link.btn-block(type="submit" name="job_id", value= job.id data-toggle="tooltip" data-placement="right" title="Learn more")
								div(class="card bg-light text-dark")
									div(class="card-body")
										table
											tr
												th=job.title
												td(style="padding-left:20px; padding-right:20px") |
												td=job.deadline
												td(style="padding-left:20px; padding-right:20px") |
												td="Difficulty: " + job.difficulty
												td(style="padding-left:20px; padding-right:20px") |
												td=job.brief_description
			else
				div(class="p-1 bd-highlight")
					div(class="card bg-light text-dark")
						div(class="card-body")
							table(class="table table-bordered")
								tr
									th(colspan="2")="Employer Info"
								tr
									td=focusedJob[0].employer_name + " | " + focusedJob[0].employer_email
									td="Company: " + focusedJob[0].company
								tr
									td(colspan="2")=focusedJob[0].about_employer

							table(class="table table-bordered")
								tr
									th(colspan="2")=focusedJob[0].title
								tr
									td="Difficulty: " + focusedJob[0].difficulty
									td="Payment: $" + focusedJob[0].payment
								tr
									td="Deadline: " + focusedJob[0].deadline
									td="Tags: " + focusedJob[0].tags
								tr
									td(colspan="2")=focusedJob[0].description

							div.row
								div.col
									form(action="/main" method="get")
										button.btn.btn-dark(type="submit")="Back"
								div.col
									if (state == 1)
										form(action="/main/accept" method="post")
											input(name='job_id' required='' value=focusedJob[0].id style="display:none")
											button.btn.btn-dark(type="submit")="Accept"

//- Clientside scripts
//- script(src='../resources/js/scripts.js')
